.
..
.bash_logout
.bash_profile
#.bashrc
.cache
.config
Desktop
.dir_colors
.dmenurc
.dmrc
Documents
.dotfiles_ship
Downloads
.gimp-2.8
#.gitignore
.gtkrc-2.0
.i3
.icons
.local
.makepkg.conf
.moc
Music
.oh-my-zsh
Pictures
.pki
.profile
Public
Templates
.thumbnails
.urxvt
Videos
.vim
.viminfo
#.vimrc
.wget-hsts
.Xauthority
.Xclients
#.xinitrc
#.Xresources
.xsession-errors
.xsession-errors.old
.zcompdump
.zcompdump-ship-5.8
.zhistory
.zsh_history
#.zshrc
.zshrc.pre-oh-my-zsh
